<?xml version="1.0" encoding="UTF-8" ?><!--
  ~ Filename	: CustomStoreMapper.xml
  ~ Function	:
  ~ Comment 	:
  ~ History	: 
  ~
  ~ Version	: 1.0
  ~ Author   : 
  -->

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.pico.utils.customMapper.admin.CustomItemsMapper">
     
  <resultMap id="SvcItemImgResultMap" type="com.jc.pico.bean.SvcItemImg">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ITEM_ID" jdbcType="BIGINT" property="itemId" />
    <result column="BRAND_ID" jdbcType="BIGINT" property="brandId" />
    <result column="STORE_ID" jdbcType="BIGINT" property="storeId" />
    <result column="ORDINAL" jdbcType="TINYINT" property="ordinal" />
    <result column="SMALL_IMAGE" jdbcType="VARCHAR" property="smallImage" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>

  <select id="getItemCategory" parameterType="hashmap" resultType="hashmap">
	SELECT * FROM (
		  SELECT   HI.ID AS id
		          ,cate_sys_connect_by_path('>', HI.ID) AS path
		          ,parent
		          ,level
		          ,HI.BRAND_ID AS brandId
		          ,HI.STORE_ID AS storeId
		          ,HI.NAME AS name
		          ,HI.CAT_CD AS catCd
		          ,(SELECT COUNT(ID) FROM TB_SVC_ITEM WHERE CAT_ID=HI.ID) AS itemCnt

		    FROM (
		          SELECT  cate_connect_by_id_with_level(id, @maxlevel) AS id,
		                      CAST(@level AS SIGNED) AS level
		          FROM    (
		                  SELECT  @start_with := 0,
		                          @id := @start_with,
		                          @level := 0,
		                          @maxlevel := 7
		                  ) vars, TB_SVC_ITEM_CAT
		          WHERE   @id IS NOT NULL
		          ) HO
			  JOIN  TB_SVC_ITEM_CAT HI
			  ON    HI.ID = HO.ID
		  ) AS A
		  WHERE 1=1
		<if test="brandId != null">
		      AND A.brandId = #{brandId}
		</if>
		<if test="storeId != null">
			  AND A.storeId = #{storeId}
		</if>
	ORDER BY A.storeId 
  </select>

  <select id="getItemCateSelect" parameterType="hashmap" resultType="hashmap">
	SELECT * FROM (
	      SELECT   HI.ID AS id
		          ,cate_sys_connect_by_path('>', HI.ID) AS path
		          ,parent
		          ,level
		          ,HI.BRAND_ID AS brandId
		          ,HI.STORE_ID AS storeId
		          ,CONCAT(REPEAT('...', level - 1), HI.NAME) AS name
		          ,HI.CAT_CD AS catCd

		    FROM (
		          SELECT  cate_connect_by_id_with_level(id, @maxlevel) AS id,
		                      CAST(@level AS SIGNED) AS level
		          FROM    (
		                  SELECT  @start_with := 0,
		                          @id := @start_with,
		                          @level := 0,
		                          @maxlevel := 7
		                  ) vars, TB_SVC_ITEM_CAT
		          WHERE   @id IS NOT NULL
		          ) HO
			  JOIN  TB_SVC_ITEM_CAT HI
			  ON    HI.ID = HO.ID
		 ) AS A
		  WHERE 1=1
		<if test="brandId != null">
		      AND A.brandId = #{brandId}
		</if>
		<if test="storeId == null">
			  AND A.storeId IS NULL
		</if>
		<if test="storeId != null">
			  AND A.storeId = #{storeId}
		</if>
  </select>

  <select id="getPluCategory" parameterType="hashmap" resultType="hashmap">
	SELECT * FROM (
		  SELECT   HI.ID AS id
		          ,plu_sys_connect_by_path('>', HI.ID) AS path
		          ,parent
		          ,( CASE WHEN level = 1 THEN true ELSE false END)  AS level
		          ,HI.BRAND_ID AS brandId
		          ,HI.STORE_ID AS storeId
		          ,HI.NAME AS name
		          ,HI.CAT_CD AS catCd
		          ,HI.PLU_TP   AS pluTp
				  ,HI.ORDINAL  AS ordinal

		    FROM (
		          SELECT  plu_connect_by_id_with_level(id, @maxlevel) AS id,
		                      CAST(@level AS SIGNED) AS level
		          FROM    (
		                  SELECT  @start_with := 0,
		                          @id := @start_with,
		                          @level := 0,
		                          @maxlevel := 7
		                  ) vars, TB_SVC_PLU_CAT
		          WHERE   @id IS NOT NULL
		          ) HO
			  JOIN  TB_SVC_PLU_CAT HI
			  ON    HI.ID = HO.ID
		 ) AS A
		  WHERE 1=1
		<if test="brandId != null">
		      AND A.brandId = #{brandId}
		</if>
		<if test="storeId == null">
			  AND A.storeId IS NULL
		</if>
		<if test="storeId != null">
			  AND A.storeId = #{storeId}
		</if>
		<if test="pluTp != null">
			 AND A.pluTp = #{pluTp}
		</if>

  </select>


  <select id="getItemImgId" parameterType="java.lang.Long" resultMap="SvcItemImgResultMap">
    SELECT  /* getItemImgId , 2016.07.01, ikinox */
    		ID
      FROM  TB_SVC_ITEM_IMG
     WHERE  ITEM_ID = #{id,jdbcType=BIGINT}
  </select>

  <sql id="ItemImg_Column_List">
    ID, ITEM_ID, BRAND_ID, STORE_ID, ORDINAL, SMALL_IMAGE, IMAGE, CREATED, UPDATED
  </sql>

   <select id="pluTypeSelect" parameterType="hashmap" resultType="hashmap">
    SELECT  /* pluTypeSelect , 2016.07.15, ikinox */
    		ID AS id
    	   ,NAME AS name
      FROM  TB_SVC_PLU_CAT
     WHERE  1=1
   	  <if test="brandId != null">
		  AND  BRAND_ID = #{brandId}
	  </if>
	  <if test="storeId != null">
		  AND  STORE_ID = #{storeId}
	  </if>
	  <if test="pluTp != null">
		  AND  PLU_TP = #{pluTp}
	  </if>
	  <if test="parent != null">
		  AND  PARENT = #{parent}
	  </if>
  </select>

  <select id="getPluItemGridly" parameterType="hashmap" resultType="hashmap">
    SELECT  /* getPluItemGridly , 2016.07.15, ikinox */
            A.ID         AS  id
	       ,A.BRAND_ID   AS  brandId
	       ,A.STORE_ID   AS  storeId
	       ,A.CAT_ID     AS  catId
	       ,A.ITEM_ID    AS  itemId
	       ,A.ORDINAL    AS  ordinal
	       ,A.ADMIN_ID   AS  adminId
	       ,B.NAME       AS  name
	       ,B.PRICE      AS  price
	       ,I.IMAGE      AS  image
	 FROM  TB_SVC_PLU_ITEM A
	       LEFT JOIN TB_SVC_ITEM B ON B.ID = A.ITEM_ID
           LEFT JOIN TB_SVC_ITEM_IMG I ON B.ID = I.ITEM_ID
	WHERE  1=1
	  <if test="brandId != null">
		  AND  A.BRAND_ID = #{brandId}
	  </if>
	  <if test="storeId != null">
		  AND  A.STORE_ID = #{storeId}
	  </if>
	  <if test="catId != null">
		  AND  A.CAT_ID = #{catId}
	  </if>
  </select>

  <select id="getItemInfo" parameterType="hashmap" resultType="hashmap">
    SELECT  /* getItemInfo , 2016.07.29, ikinox */
		    ID              AS id
		   ,CAT_ID          AS catId
		   ,BRAND_ID        AS brandId
		   ,STORE_ID        AS storeId
		   ,STATUS          AS status
		   ,ITEM_TP         AS itemTp
		   ,ITEM_CD         AS itemCd
		   ,BARCODE         AS barcode
		   ,NAME            AS name
		   ,SHORT_NAME      AS shortName
		   ,PRICE           AS price
		   ,SUPPLY_PRICE    AS supplyPrice
		   ,PURCHASE_PRICE  AS purchasePrice
		   ,TAX             AS tax
		   ,DISCOUNT_PRICE  AS discountPrice
		   ,SERVICE_CHARGE  AS serviceCharge
		   ,TAX_TP 			AS taxTp
		   ,IS_TIP_INCLUDED AS isTipIncluded
		   ,IS_REWARD       AS isReward
		   ,IS_DISCOUNTABLE AS isDiscountable
		   ,IS_OPT_USED     AS isOptUsed
		   ,IS_PACKABLE     AS isPackable
		   ,MB_ICON_TP      AS mbIconTp
		   ,INTRO           AS intro
		   ,SALES_BEGIN     AS salesBegin
		   ,SALES_END       AS salesEnd
		   ,ADMIN_ID        AS adminId
		   ,CREATED         AS created
		   ,UPDATED         AS updated
	FROM (
		  SELECT *
		    FROM TB_SVC_ITEM
		   WHERE 1=1
		     <if test="brandId != null and brandId !=''">
				  AND BRAND_ID = #{brandId}
			 </if>
		          AND STORE_ID IS NULL
		  UNION ALL
		  SELECT *
		    FROM TB_SVC_ITEM
		   WHERE 1=1
		   	 <if test="brandId != null and brandId !=''">
				  AND BRAND_ID = #{brandId}
			 </if>
			 <if test="storeId == null ">
			 	  AND STORE_ID IS NOT NULL
			 </if>
		     <if test="storeId != null and storeId !=''">
				  AND  STORE_ID = #{storeId}
			 </if>
		) A
	WHERE  A.CAT_ID IN (SELECT ID
                              FROM (SELECT HI.ID AS id,
                                           cate_sys_connect_by_path('>', HI.ID) AS path,
                                           parent,
                                           level,
                                           HI.BRAND_ID AS brandId,
                                           HI.STORE_ID AS storeId,
                                           CONCAT(REPEAT('...', level - 1), HI.NAME) AS name,
                                           HI.CAT_CD AS catCd
                                      FROM (SELECT cate_connect_by_id_with_level(id, @maxlevel) AS id,
                                                   CAST(@level AS SIGNED) AS level
                                              FROM (SELECT @start_with := 0,
                                                           @id := @start_with,
                                                           @level := 0,
                                                           @maxlevel := 7
                                                    ) vars,
                                                    TB_SVC_ITEM_CAT
                                              WHERE @id IS NOT NULL
                                              
                                           ) HO
                                        JOIN TB_SVC_ITEM_CAT HI ON HI.ID = HO.ID
                                    WHERE 1=1 
                                         <if test="brandId != null and brandId !=''">
							  				AND HI.BRAND_ID = #{brandId}
										 </if>
										 <if test="storeId == null">
										 	  AND HI.STORE_ID IS NOT NULL
										 </if>
									     <if test="storeId != null and storeId !=''">
											  AND  HI.STORE_ID = #{storeId}
										 </if>) AS A
                                        
                     WHERE 1 = 1 
                       <if test="catId != null and catId !=''">
                       AND path  like CONCAT('%', #{catId}, '%')
	  				   </if>
	  				)    
	  <if test="status != null and status !=''" >
		  AND  A.STATUS = #{status}
	  </if>
	  <if test="isStoreYn != null and isStoreYn !=''">
		  <if test="isStoreYn == 'false'">
			  AND A.STORE_ID IS NULL
		  </if>
		  <if test="isStoreYn == 'true'">
			  AND A.STORE_ID IS NOT NULL
		  </if>
	  </if>
	  <if test="searchKeyword != null and searchKeyword != ''">
		  AND  A.NAME LIKE CONCAT('%', #{searchKeyword}, '%')
	  </if>
	  <if test="orderby != null and orderby != ''">
		ORDER BY ${orderby}
	  </if>
	
	LIMIT ${start} , ${length}
  </select>

  <select id="getItemCount" parameterType="hashmap" resultType="int">
    SELECT  /* getItemCount , 2016.07.29, ikinox */
		    count(*)
	FROM (
		  SELECT *
		    FROM TB_SVC_ITEM
		   WHERE 1=1
		     <if test="brandId != null and brandId !=''">
				  AND BRAND_ID = #{brandId}
			 </if>
		          AND STORE_ID IS NULL
		  UNION ALL
		  SELECT *
		    FROM TB_SVC_ITEM
		   WHERE 1=1
		   	 <if test="brandId != null and brandId !=''">
				  AND BRAND_ID = #{brandId}
			 </if>
			 <if test="storeId == null ">
			 	  AND STORE_ID IS NOT NULL
			 </if>
		     <if test="storeId != null and storeId !=''" >
				  AND  STORE_ID = #{storeId}
			 </if>
		) A
	WHERE  A.CAT_ID IN (SELECT ID
                              FROM (SELECT HI.ID AS id,
                                           cate_sys_connect_by_path('>', HI.ID) AS path,
                                           parent,
                                           level,
                                           HI.BRAND_ID AS brandId,
                                           HI.STORE_ID AS storeId,
                                           CONCAT(REPEAT('...', level - 1), HI.NAME) AS name,
                                           HI.CAT_CD AS catCd
                                      FROM (SELECT cate_connect_by_id_with_level(id, @maxlevel) AS id,
                                                   CAST(@level AS SIGNED) AS level
                                              FROM (SELECT @start_with := 0,
                                                           @id := @start_with,
                                                           @level := 0,
                                                           @maxlevel := 7
                                                    ) vars,
                                                    TB_SVC_ITEM_CAT
                                              WHERE @id IS NOT NULL
                                              
                                           ) HO
                                        JOIN TB_SVC_ITEM_CAT HI ON HI.ID = HO.ID
                                    WHERE 1=1 
                                         <if test="brandId != null and brandId !=''">
							  				AND HI.BRAND_ID = #{brandId}
										 </if>
										 <if test="storeId == null">
										 	  AND HI.STORE_ID IS NOT NULL
										 </if>
									     <if test="storeId != null and storeId !=''">
											  AND  HI.STORE_ID = #{storeId}
										 </if>) AS A
                                        
                     WHERE 1 = 1 
                       <if test="catId != null and catId !=''">
                       AND path  like CONCAT('%', #{catId}, '%')
	  				   </if>
	  				)    
	  <if test="status != null and status !=''">
		  AND  A.STATUS = #{status}
	  </if>
	  <if test="isStoreYn != null and isStoreYn !=''">
		  <if test="isStoreYn == 'false'">
			  AND A.STORE_ID IS NULL
		  </if>
		  <if test="isStoreYn == 'true'">
			  AND A.STORE_ID IS NOT NULL
		  </if>
	  </if>
	  <if test="searchKeyword != null and searchKeyword != ''">
		  AND  A.NAME LIKE CONCAT('%', #{searchKeyword}, '%')
	  </if>
	  <if test="orderby != null and orderby !=''">
		ORDER BY ${orderby}
	  </if>
  </select>

	<resultMap id="selectItemsResultMap" type="java.util.LinkedHashMap" autoMapping="false">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CAT_ID" jdbcType="BIGINT" property="catId" />
    <result column="BRAND_ID" jdbcType="BIGINT" property="brandId" />
    <result column="STORE_ID" jdbcType="BIGINT" property="storeId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="ITEM_TP" jdbcType="CHAR" property="itemTp" />
    <result column="ITEM_CD" jdbcType="VARCHAR" property="itemCd" />
    <result column="BARCODE" jdbcType="VARCHAR" property="barcode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="PRICE" jdbcType="DOUBLE" property="price" />
    <result column="SUPPLY_PRICE" jdbcType="DOUBLE" property="supplyPrice" />
    <result column="PURCHASE_PRICE" jdbcType="DOUBLE" property="purchasePrice" />
    <result column="TAX" jdbcType="DOUBLE" property="tax" />
    <result column="DISCOUNT_PRICE" jdbcType="DOUBLE" property="discountPrice" />
    <result column="SERVICE_CHARGE" jdbcType="DOUBLE" property="serviceCharge" />
    <result column="IS_TAX_INCLUDED" jdbcType="BIT" property="isTaxIncluded" />
    <result column="TAX_TP" jdbcType="CHAR" property="taxTp" />
    <result column="IS_TIP_INCLUDED" jdbcType="BIT" property="isTipIncluded" />
    <result column="IS_REWARD" jdbcType="BIT" property="isReward" />
    <result column="IS_DISCOUNTABLE" jdbcType="BIT" property="isDiscountable" />
    <result column="IS_OPT_USED" jdbcType="BIT" property="isOptUsed" />
    <result column="IS_PACKABLE" jdbcType="BIT" property="isPackable" />
    <result column="IS_STAMP" jdbcType="BIT" property="isStamp" />
    <result column="MB_ICON_TP" jdbcType="CHAR" property="mbIconTp" />
    <result column="SALES_BEGIN" jdbcType="CHAR" property="salesBegin" />
    <result column="SALES_END" jdbcType="CHAR" property="salesEnd" />
    <result column="PRINTER_NO" jdbcType="VARCHAR" property="printerNo" />
    <result column="ADMIN_ID" jdbcType="VARCHAR" property="adminId" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
  </resultMap>
  
	<select id="selectItems" parameterType="com.jc.pico.bean.SvcItemExample" resultMap="selectItemsResultMap"> 
		SELECT A.ID,
		       A.CAT_ID,
		       A.BRAND_ID,
		       A.STORE_ID,
		       A.`STATUS`,
		       A.ITEM_TP,
		       A.ITEM_CD,
		       A.BARCODE,
		       A.`NAME`,
		       A.SHORT_NAME,
		       A.PRICE,
		       A.SUPPLY_PRICE,
		       A.PURCHASE_PRICE,
		       A.TAX,
		       A.DISCOUNT_PRICE,
		       A.SERVICE_CHARGE,
		       A.IS_TAX_INCLUDED,
		       A.TAX_TP,
		       A.IS_TIP_INCLUDED,
		       A.IS_REWARD,
		       A.IS_DISCOUNTABLE,
		       A.IS_OPT_USED,
		       A.IS_PACKABLE,
		       A.IS_STAMP,
		       A.MB_ICON_TP,
		       A.SALES_BEGIN,
		       A.SALES_END,
		       A.PRINTER_NO,
		       A.ADMIN_ID,
		       A.CREATED,
		       A.UPDATED,
		       B.IMAGE
		  FROM TB_SVC_ITEM A
     		   LEFT JOIN TB_SVC_ITEM_IMG B ON A.ID = B.ITEM_ID
		 WHERE A.STATUS = '602001'
		   <if test="brandId != null">
		 	AND A.BRAND_ID = #{brandId}
		   </if>
  		   <if test="storeId != null">
  		   AND A.STORE_ID = #{storeId}
  		   </if>
		   <if test="catId != null">
		   AND A.CAT_ID = #{catId}
		   </if>
	</select>
	
<!--   <select id="selectItems" parameterType="hashmap" resultType="hashmap"> -->
<!-- 	    SELECT  /* selectItems, 2016.07.15, ikinox */ -->
<!-- 	           * -->
<!-- 		FROM   TB_SVC_ITEM -->
<!-- 		WHERE  1=1 -->
<!-- 		<if test="brandId != null"> -->
<!-- 		  AND  BRAND_ID = #{brandId} -->
<!-- 		</if> -->
<!-- 		  AND STORE_ID IS NULL -->
<!-- 		UNION ALL -->
<!-- 		SELECT * -->
<!-- 		FROM   TB_SVC_ITEM -->
<!-- 		WHERE  1=1 -->
<!-- 		<if test="brandId != null"> -->
<!-- 		  AND  BRAND_ID = #{brandId} -->
<!-- 		</if> -->
<!-- 		<if test="storeId != null"> -->
<!-- 		  AND  STORE_ID = #{storeId} -->
<!-- 	       </if> -->
<!-- 	       <if test="catId != null"> -->
<!-- 		  AND  CAT_ID = #{catId} -->
<!-- 	    </if> -->
<!--   </select> -->



</mapper>
