<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.pico.utils.customMapper.clerk.ClerkRewardMapper">

	<select id="selectCouponStoreInfoList" parameterType="map" resultType="SingleMap">
		/* ClerkRewardMapper.selectCouponStoreInfoList */
		SELECT 
		    A.ID AS cdStore
			, A.STORE_NM AS nmStore
			, B.ID AS cdBrand
			, B.BRAND_NM AS nmBrand
		FROM
		    TB_SVC_STORE A
		LEFT JOIN TB_SVC_BRAND B
		ON A.BRAND_ID = B.ID
		WHERE
		    A.ID IN		     
        <foreach collection="storeIds" item="storeId"  open="(" close=")" separator=",">
            #{storeId}
		</foreach>
	</select>

</mapper>
