<?xml version="1.0" encoding="UTF-8" ?><!--
  ~ Filename	: PosMasterEmployeeInfoMapper.xml
  ~ Function	:
  ~ Comment 	:
  ~ History		: 
  ~
  ~ Version		: 1.0
  ~ Author   	: 
  -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.pico.utils.customMapper.pos.PosMasterEmployeeInfoMapper">

	<resultMap id="defaultMap" type="com.jc.pico.utils.bean.PosMasterEmployeeInfo" autoMapping="true">    	
    	<result column="telMobile" property="telMobile" typeHandler="com.jc.pico.utils.mybatis.typehandler.MobileSecurityTypeHandler"/>    	
	</resultMap>
	
  <select id="selectDefault" parameterType="hashmap" resultMap="defaultMap">
    SELECT  /* PosMasterEmployeeInfoMapper.selectDefault : POS.M_EMPLOYEE_INFO, 2016-07-11, green */
			#{companyId} AS cdCompany /* 회사코드 */
			, #{storeId} AS cdStore /* 매장코드 */
			, TB_SVC_STAFF.ID AS cdEmployee /* 사원코드 */
			, TB_SVC_STAFF.NAME AS nmEmployee /* 사원명 */
			, TB_SVC_STAFF.USERNAME AS userId /* 사용자ID */
			, TB_SVC_STAFF.PASSWORD AS userPw /* 사용자암호 */
			, TB_SVC_STAFF.MB AS telMobile
			, TB_SVC_STAFF.STAFF_TP AS cdGrade /* 사용자등급 (1:관리자 0:일반) */
			, TB_SVC_STAFF.STATUS AS ynUse /* 사용유무 (1:사용, 0:미사용) */
			, TB_SVC_STAFF.LOGIN_FAIL_CNT AS loginFailCnt
			, DATE_FORMAT(TB_SVC_STAFF.LOGIN_LAST_TM, '%Y%m%d%H%i%s') AS loginLastTm
			, DATE_FORMAT(TB_SVC_STAFF.LOGIN_TRY_TM, '%Y%m%d%H%i%s') AS loginTryTm
			, DATE_FORMAT(TB_SVC_STAFF.CREATED, '%Y%m%d%H%i%s') AS dtInsert /* 등록일시 */
			, 'BAK' AS cdEmployeeInsert /* 등록자 */
			, DATE_FORMAT(TB_SVC_STAFF.UPDATED, '%Y%m%d%H%i%s') AS dtUpdate /* 수정일시 */
			, 'BAK' AS cdEmployeeUpdate /* 수정자 */
      FROM TB_SVC_STAFF
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="_parameter.containsKey('storeId')">
	   AND TB_SVC_STAFF.STORE_ID = #{storeId}
		</if>
	</trim>
  </select>

</mapper>
