<?xml version="1.0" encoding="UTF-8" ?><!--
  ~ Filename	: PosSalesTableInfoMapper.xml
  ~ Function	:
  ~ Comment 	:
  ~ History		: 
  ~
  ~ Version		: 1.0
  ~ Author   	: 
  -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.pico.utils.customMapper.pos.PosSalesTableInfoMapper">

  <select id="selectDefault" parameterType="hashmap" resultType="com.jc.pico.utils.bean.PosSalesTableInfo">
    SELECT  /* PosSalesTableInfoMapper.selectDefault : POS.S_TABLE_INFO, 2016-07-11, green */
			${companyId} AS cdCompany /* 회사코드 */
			, ${storeId} AS cdStore /* 매장코드 */
			, TB_SVC_TABLE.ID AS noTable /* 테이블번호 */
			, TB_SVC_TABLE.SECTION_ID AS noPartition /* 파티션번호 */
			, DATE_FORMAT(TB_SVC_ORDER.ORDER_TM_LOCAL, '%Y%m%d%H%i%s') AS ymdOrder /* 주문일자(yyyymmdd) */
			, TB_SVC_ORDER.ORDER_NO AS noOrder /* 주문번호 */
			, TB_SVC_TABLE.MASTER_TABLE_NO AS noParty /* 단체번호 */
			, '' AS bgParty /* 단체색깔 */
			, TB_SVC_ORDER.POS_NO AS noPosLast /* 최종사용 포스번호 */
			, TB_SVC_TABLE.IS_USED AS dsStatus /* 상태(0:미사용 1:사용중) */
			, DATE_FORMAT(TB_SVC_ORDER.CREATED, '%Y%m%d%H%i%s') AS dtInsert /* 등록일시 */
			, 'BAK' AS cdEmployeeInsert /* 등록자 */
			, DATE_FORMAT(TB_SVC_ORDER.UPDATED, '%Y%m%d%H%i%s') AS dtUpdate /* 수정일시 */
			, 'BAK' AS cdEmployeeUpdate /* 수정자 */
      FROM TB_SVC_TABLE
      JOIN TB_SVC_ORDER ON TB_SVC_ORDER.ID = TB_SVC_TABLE.ORDER_ID
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="_parameter.containsKey('storeId')">
	   AND TB_SVC_TABLE.STORE_ID = #{storeId}
		</if>
		<if test="_parameter.containsKey('tableId')">
	   AND TB_SVC_TABLE.ID = #{tableId}
		</if>
	</trim>
  </select>

</mapper>
