<?xml version="1.0" encoding="UTF-8" ?><!--
  ~ Filename	: PosSalesOrderMissingMapper.xml
  ~ Function	:
  ~ Comment 	:
  ~ History		: 
  ~
  ~ Version		: 1.0
  ~ Author   	: 
  -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.pico.utils.customMapper.pos.PosSalesOrderMissingMapper">

  <select id="selectDefault" parameterType="hashmap" resultType="com.jc.pico.utils.bean.PosSalesOrderMissing">
    SELECT  /* PosSalesOrderMissingMapper.selectDefault : POS.S_ORDER_MISSING, 2016-07-11, green */
			${companyId} AS cdCompany /* 회사코드 */
			, ${storeId} AS cdStore /* 매장코드 */
			, DATE_FORMAT(TB_SVC_ORDER.OPEN_DT,  '%Y%m%d') AS ymdOrder /* 주문일자(yyyymmdd) */
			, TB_SVC_ORDER.ORDER_NO AS noOrder /* 주문번호 */
      FROM TB_SVC_ORDER
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="_parameter.containsKey('storeId')">
	   AND TB_SVC_ORDER.STORE_ID = #{storeId}
	   AND TB_SVC_ORDER.IS_CONFIRM = FALSE
		</if>
	</trim>
  </select>

</mapper>
