<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.pico.mapper.SvcKitchenPrinterMapper">
  <resultMap id="BaseResultMap" type="com.jc.pico.bean.SvcKitchenPrinter">
    <result column="BRAND_ID" jdbcType="BIGINT" property="brandId" />
    <result column="STORE_ID" jdbcType="BIGINT" property="storeId" />
    <result column="PRINTER_NO" jdbcType="VARCHAR" property="printerNo" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="POS_NO" jdbcType="VARCHAR" property="posNo" /> <!-- posNO추가 -->
    <result column="RECEIPT_NO" jdbcType="VARCHAR" property="receiptNo" />
    <result column="IS_PRINT" jdbcType="TINYINT" property="isPrint" />
    <result column="PRINT_PORT" jdbcType="VARCHAR" property="printPort" />
    <result column="PRINT_IP" jdbcType="VARCHAR" property="printIp" />
    <result column="ORDER_TM_LOCAL" jdbcType="TIMESTAMP" property="orderTmLocal" />
    <collection property="items" javaType="java.util.List" ofType="com.jc.pico.bean.SvcKitchenPrinterItem" >
	    <result column="ORDINAL" jdbcType="SMALLINT" property="ordinal" />
	    <result column="ITEM_NM" jdbcType="VARCHAR" property="itemNm" />
	    <result column="COUNT" jdbcType="SMALLINT" property="count" />
	    <result column="IS_OPTION" jdbcType="TINYINT" property="isOption" />
    </collection>
  </resultMap>
  
  <sql id="Base_Column_List">
    BRAND_ID, STORE_ID, PRINTER_NO, ORDER_NO, ORDINAL, RECEIPT_NO, ITEM_NM, COUNT, IS_PRINT, IS_OPTION, ORDER_TM_LOCAL, CREATED, UPDATED
  </sql>

  <!-- posNO추가 -->   
  <insert id="insertList" parameterType="java.util.List">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO TB_SVC_KITCHEN_PRINTER (
    	BRAND_ID, STORE_ID, PRINTER_NO, 
    	POS_NO,
    	ORDER_NO,  ORDINAL, RECEIPT_NO, 
    	ITEM_NM, COUNT, IS_PRINT, IS_OPTION, 
    	ORDER_TM_LOCAL, CREATED, UPDATED
    )
    VALUES 
   		<foreach collection="list" item="item" separator=" , " >
	    	(
	    		#{item.brandId,jdbcType=BIGINT},#{item.storeId,jdbcType=BIGINT},#{item.printerNo,jdbcType=VARCHAR},#{item.posNo,jdbcType=VARCHAR},
	    		#{item.orderNo,jdbcType=VARCHAR},#{item.ordinal,jdbcType=SMALLINT},#{item.receiptNo,jdbcType=VARCHAR},
	    		#{item.itemNm,jdbcType=VARCHAR},#{item.count,jdbcType=SMALLINT},#{item.isPrint,jdbcType=TINYINT},
	    		#{item.isOption,jdbcType=TINYINT},#{item.orderTmLocal,jdbcType=TIMESTAMP},
	    		NOW(),NOW()
	    	)
   		</foreach>
  </insert>
  
  <!-- posNO추가 -->  
  <select id="selectList" parameterType="com.jc.pico.bean.SvcKitchenPrinter" resultMap="BaseResultMap">
    SELECT
		a.BRAND_ID, a.STORE_ID, a.PRINTER_NO, a.ORDER_NO, 
		a.POS_NO,
		a.ORDINAL, a.RECEIPT_NO, a.ITEM_NM, a.COUNT, 
		a.IS_PRINT, a.IS_OPTION, a.ORDER_TM_LOCAL, 
		b.IP as PRINT_IP, b.IP_PORT as PRINT_PORT
	FROM tb_svc_kitchen_printer a
	LEFT JOIN tb_svc_store_printer b
	ON a.PRINTER_NO = b.PRINTER_NO
	AND a.STORE_ID = b.STORE_ID
	AND a.BRAND_ID = b.BRAND_ID
	WHERE 1=1
	AND a.STORE_ID = #{storeId,jdbcType=BIGINT}
	AND a.BRAND_ID = #{brandId,jdbcType=BIGINT}
	AND a.IS_PRINT = false
	ORDER BY a.RECEIPT_NO, a.PRINTER_NO, a.ORDINAL ASC
  </select>
  
  <!-- posNO추가 -->
  <update id="update" parameterType="com.jc.pico.bean.SvcKitchenPrinter">
    UPDATE TB_SVC_KITCHEN_PRINTER
    SET 
    	IS_PRINT = #{isPrint,jdbcType=BIGINT},
    	UPDATED = NOW()
    WHERE
    	BRAND_ID = #{brandId,jdbcType=BIGINT}
    AND 
    	STORE_ID = #{storeId,jdbcType=BIGINT}
    AND 
    	ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    AND 
    	PRINTER_NO = #{printerNo,jdbcType=VARCHAR}
    AND
    	POS_NO = #{posNo,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteKitchenPrinterAtOrderCancel" parameterType="hashmap">
    DELETE 
    FROM TB_SVC_KITCHEN_PRINTER
    WHERE 1=1
    AND BRAND_ID = #{brandId,jdbcType=BIGINT}
    AND STORE_ID = #{storeId,jdbcType=BIGINT}
    AND ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    AND IS_PRINT = 0
  </delete>
</mapper>