<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.pico.mapper.SvcStoreMultiMapper">

  <resultMap id="BaseResultMap" type="com.jc.pico.bean.SvcStoreMulti">
  	<id column="ID" jdbcType="BIGINT" property="id"/>
  	<result column="FRAN_ID" jdbcType="BIGINT" property="franId"/>
  	<result column="BRAND_ID" jdbcType="BIGINT" property="brandId"/>
  	<result column="STORE_ID" jdbcType="BIGINT" property="storeId"/>
  	<result column="ORIDINAL" jdbcType="TINYINT" property="ordinal"/>
  	<result column="CHILDREN_STORE_ID" jdbcType="BIGINT" property="childrenStoreId"/>
  	<result column="INSERT_USER" jdbcType="BIGINT" property="insertUser"/>
  	<result column="IS_USED" jdbcType="CHAR" property="isUsed"/>
  	<result column="CREATE" jdbcType="TIMESTAMP" property="create"/>
  	<result column="UPDATE" jdbcType="TIMESTAMP" property="update"/>
  </resultMap>
  
  <sql id="Base_Column_List">
  	ID, FRAN_ID, BRAND_ID, STORE_ID, ORDINAL, CHILDREN_STORE_ID, INSERT_USER, IS_USED, CREATE, UPDATE
  </sql>
  
 <!--  <select id ="selectByExample" parameterType="java.lang.Long" resultMap="BaseResultMap">
	SELECT 
    <include refid="Base_Column_List" />
    FROM
         TB_SVC_STORE_MULTI
    WHERE
         BRAND_ID = #{brandId}
    AND
         STORE_ID = #{storeID}
    AND
        IS_USED = 'Y'   	
  </select> -->
  
  <select id = "selectByStoreMultiList" parameterType="SingleMap" resultType="SingleMap">
	SELECT 
      ID, FRAN_ID, BRAND_ID, STORE_ID, ORDINAL, CHILDREN_STORE_ID, INSERT_USER, IS_USED
    FROM
         TB_SVC_STORE_MULTI
    WHERE
         BRAND_ID = #{brandId}
    AND
         STORE_ID = #{storeId}
    AND
        IS_USED = 'Y'   	
  </select>
</mapper>