<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.pico.utils.customMapper.clerk.ClerkStoreMapper">

	<select id="selectTableSectionListByStoreId" parameterType="SingleMap" resultType="SingleMap">
		/* ClerkStoreMapper.selectTableSectionListByStoreId */
		SELECT 
			ID AS id
		    , NAME AS name
		    , ORDINAL AS ordinal
		FROM 
			TB_SVC_TABLE_SECTION 
		WHERE 
			STORE_ID = #{storeId}
		ORDER BY ORDINAL
	</select>

	<select id="selectTableListBySectionId" parameterType="SingleMap" resultType="SingleMap">
		/* ClerkStoreMapper.selectTableListBySectionId */
		SELECT
			ID AS id
		    , BRAND_ID AS brandId
		    , STORE_ID AS storeId
		    , SECTION_ID AS sectionId
		    , ORDINAL AS ordinal
		    , NAME AS name
		    , IS_USED AS isUsed		    
		    , POS_NO AS posNo
		    , ORDER_ID AS orderId
		    , MASTER_TABLE_NO AS masterTableNo
		    , ADMIN_ID AS adminId
		FROM
			TB_SVC_TABLE
		WHERE
			SECTION_ID = #{sectionId}
		ORDER BY ORDINAL
	</select>
	
	<!-- 해당 카테고리 QUERY : ex. 식사류, 분식류, 음료, 주류 등등 -->
	<select id="selectPluCategoryList" parameterType="SingleMap" resultType="SingleMap">
		/* ClerkStoreMapper.selectPluCategoryList */
		SELECT 
		    ID AS id
		    , BRAND_ID AS brandId    
		    , STORE_ID AS storeId    
		    , NAME AS name
		    , CAT_CD AS catCd
            , PLU_SECTION AS pluSection <!-- 추가 -->     
		FROM
		    TB_SVC_PLU_CAT
		WHERE
			PLU_TP = '351001'
		AND	(
			(BRAND_ID = #{brandId} AND STORE_ID IS NULL)
			OR (BRAND_ID = #{brandId} AND STORE_ID = #{storeId})
		)
		AND (
			(SALES_TIME_BEGIN = '00' and SALES_TIME_END ='00')
			OR (TIME_FORMAT(CURTIME(), '%H') BETWEEN SALES_TIME_BEGIN AND SALES_TIME_END)
		)	 
		ORDER BY ORDINAL
	</select>
	
	<!-- 선택된 카테고리의 음식리스트 QUERY : ex. 식사류 - 된장찌게, 닭볶음탕 등등 -->
	<select id="selectPluItemList" parameterType="SingleMap" resultType="com.jc.pico.utils.bean.SvcItemExtended">	
		/* ClerkStoreMapper.selectPluItemList */
		SELECT 
			B.ID AS id		    
			, B.CAT_ID AS catId
			, A.CAT_ID AS pluCatId			
		    , A.BRAND_ID AS brandId
			, A.STORE_ID AS storeId 
		    , B.ITEM_TP AS itemTp
		    , B.ITEM_CD AS itemCd
			, B.STATUS AS status
			, C.CAT_CD AS catCd
			, C.NAME AS catNm
			, B.BARCODE AS barcode
			, B.NAME AS name    
		    , B.SHORT_NAME AS shortName
			, B.PRICE AS price
			, B.SUPPLY_PRICE AS  supplyPrice
			, B.PURCHASE_PRICE AS purchasePrice
			, B.TAX AS tax
			, B.DISCOUNT_PRICE AS discountPrice
			, B.SERVICE_CHARGE AS serviceCharge
			, B.IS_TAX_INCLUDED AS isTaxIncluded
		    , B.TAX_TP AS taxTp
			, B.IS_TIP_INCLUDED AS isTipIncluded
			, B.IS_REWARD AS isReward
			, B.IS_STAMP AS isStamp
			, B.IS_DISCOUNTABLE AS isDiscountable
			, B.IS_OPT_USED AS isOptUsed
			, B.IS_PACKABLE AS isPackable
			, B.MB_ICON_TP AS mbIconTp
		    , B.INTRO AS intro
		    , B.IS_SOLDOUT AS isSoldOut <!-- IS_SOLDOUT 컬럼이 나중에 생성 -->
		    , LEFT(B.SALES_TIME_BEGIN, 2) AS salesTimeBegin
		    , LEFT(B.SALES_TIME_END, 2) AS salesTimeEnd
		FROM 
			TB_SVC_PLU_ITEM A
		INNER JOIN TB_SVC_ITEM B
			ON A.ITEM_ID = B.ID
		INNER JOIN TB_SVC_PLU_CAT C
			ON A.CAT_ID = C.ID
		WHERE
			A.CAT_ID = #{catId}
		AND B.STATUS = '602001'
		ORDER BY A.ORDINAL
	</select>
	
	<insert id="saveStoreTemp" parameterType="com.jc.pico.bean.SvnStoreTemp">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jan 05 17:15:55 KST 2017.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_temp_log (STORE_ID, CREATED)
    values (#{storeId,jdbcType=BIGINT}, NOW())
  </insert>
</mapper>
