<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jc.pico.utils.customMapper.store.StoreNotifyMapper">
	  
	<select id="selectNotifyList" parameterType="SingleMap" resultType="SingleMap">
		/* StoreNotifyMapper.selectNotifyList */
		SELECT
			A.ID AS id
			, A.IS_DEL AS isDel
			, A.IS_READ AS isRead
			, B.EVENT_TM_LOCAL AS eventTmLocal
			, E.ALIAS AS eventTp
			, C.BRAND_NM AS brandNm
			, D.STORE_NM AS storeNm 
			, ROUND(IF(B.ORDER_ID != NULL AND B.ORDER_ID != 0, F.SALES, H.SALES), #{currencyFraction}) 
			AS sales
			, B.BRAND_ID AS brandId
			, B.STORE_ID AS storeId
			, G.NAME AS userName
			, G.ID AS userId
			, B.ORDER_ID AS orderId
			, B.SALES_ID AS salesId
		FROM
			TB_SVC_CCTV_LOG_DEVICE_MAPPING A
		LEFT JOIN TB_SVC_CCTV_LOG B
			ON A.LOG_ID = B.ID
		LEFT JOIN TB_SVC_BRAND C
			ON B.BRAND_ID = C.ID
		LEFT JOIN TB_SVC_STORE D
			ON B.STORE_ID = D.ID
		LEFT JOIN TB_BASE_BCODE E
			ON E.BASE_CD = EVENT_TP
		LEFT JOIN TB_SVC_ORDER F
			ON B.ORDER_ID = F.ID
		LEFT JOIN TB_USER G
			ON B.USER_ID = G.ID
		LEFT JOIN TB_SVC_SALES H
			ON B.SALES_ID = H.ID
		WHERE
			A.DEVICE_ID = (
				SELECT 
					ID
				FROM 
					TB_USER_DEVICE 
				WHERE 
					DEVICE_ID = #{deviceId}
				AND IS_ALIVE = true
			)		
		AND B.BRAND_ID = #{brandId}
		<if test="storeId != null and storeId != 0">
		AND B.STORE_ID = #{storeId}
		</if>
		AND A.IS_DEL = false
		<if test="startId != null and startId != 0">
		<![CDATA[
		AND A.ID < #{startId}
		]]>
		</if>
		ORDER BY ID DESC
		LIMIT #{count}
	</select>	
	
	<update id="updateNotifyRead" parameterType="SingleMap">
		/* StoreNotifyMapper.updateNotifyRead */
		UPDATE 
			TB_SVC_CCTV_LOG_DEVICE_MAPPING A
		LEFT JOIN TB_SVC_CCTV_LOG B
			ON A.LOG_ID = B.ID
		SET 
			A.IS_READ = #{isRead}
		WHERE
			A.DEVICE_ID = (
				SELECT 
					ID
				FROM 
					TB_USER_DEVICE 
				WHERE 
					DEVICE_ID = #{deviceId} 
				AND IS_ALIVE = true
			)
		AND B.BRAND_ID = #{brandId}
		<if test="storeId != null and storeId != 0">
		AND B.STORE_ID = #{storeId}
		</if>		
		AND A.IS_READ != #{isRead}
		AND A.IS_DEL = false
	</update>
	
	<update id="updateNotifyDelete" parameterType="SingleMap">
		/* StoreNotifyMapper.updateNotifyDelete */
		UPDATE 
			TB_SVC_CCTV_LOG_DEVICE_MAPPING A
		LEFT JOIN TB_SVC_CCTV_LOG B
			ON A.LOG_ID = B.ID
		SET 
			A.IS_DEL = true
		WHERE
			A.DEVICE_ID = (
				SELECT 
					ID
				FROM 
					TB_USER_DEVICE 
				WHERE 
					DEVICE_ID = #{deviceId} 
				AND IS_ALIVE = true
			)
		AND B.BRAND_ID = #{brandId}
		<if test="storeId != null and storeId != 0">
		AND B.STORE_ID = #{storeId}
		</if>
		<if test="notifyId != null and notifyId != 0">	
		AND A.ID = #{notifyId}
		</if>
		AND A.IS_DEL = false
	</update>
	
	<select id="selectNotiftyUnreadCount" parameterType="SingleMap" resultType="int">
		/* StoreNotifyMapper.selectNotiftyUnreadCount */
		SELECT
			COUNT(*)
		FROM
			TB_SVC_CCTV_LOG_DEVICE_MAPPING A
		LEFT JOIN TB_SVC_CCTV_LOG B
			ON A.LOG_ID = B.ID
		WHERE
			A.DEVICE_ID = (
				SELECT 
					ID
				FROM 
					TB_USER_DEVICE 
				WHERE 
					DEVICE_ID = #{deviceId}
				AND IS_ALIVE = true
			)		
		AND B.BRAND_ID = #{brandId}
		<if test="storeId != null and storeId != 0">
		AND B.STORE_ID = #{storeId}
		</if>
		AND A.IS_DEL = false
		AND A.IS_READ = false
	</select>	
	
	<select id="selectPushUserDeviceListByEventTp" parameterType="map" resultType="com.jc.pico.bean.UserDevice">
		/* PosPushMapper.selectPushUserDeviceList */
		SELECT
			B.ID AS id				
			, B.OS AS os
		    , B.LOCALE AS locale	
		    , B.PUSH_ID AS pushId	
		FROM
			TB_SVC_USER_MAPPING A 
		LEFT JOIN TB_USER_DEVICE B
			ON A.USER_ID = B.USER_ID
		LEFT JOIN TB_SVC_DEVICE_PUSH_SET C
			ON B.ID = C.DEVICE_ID
		LEFT JOIN TB_USER D
			ON A.USER_ID = D.ID	
		WHERE
			A.STORE_ID = #{storeId}
		AND B.IS_ALIVE = true
		AND D.TYPE = '300006'
		AND D.STATUS = '301001'
		<choose>
    		<when test="eventTp == '701001'">
		AND C.IS_PUSH_ORDER_CANCEL = true
	    	</when>
	    	<when test="eventTp == '701002'">
	    AND C.IS_PUSH_PAYMENT = true
	    	</when>
	    	<when test="eventTp == '701003'">
	    AND C.IS_PUSH_PAYMENT_CANCEL = true
	    	</when>
	    	<when test="eventTp == '701004'">
	    AND C.IS_PUSH_REFUND = true
	    	</when>
			<when test="eventTp == '701005'">
	    AND C.IS_PUSH_VISIT_VIP = true
	    	</when>
	    	<otherwise>
		AND 1 = 0
	    	</otherwise>
		</choose>		
	</select>
	
</mapper>

